@import 'nib'

.remote
  .pin
    font-size 30px
    text-align center
    width 320px
    height 200px
    position absolute
    top 50%
    left 50%
    margin-top -100px
    margin-left -160px

    // hidden
    opacity 0
    transform translateY(-200px)

    p
      font-weight 300
      margin 0

    h3
      margin 0
      font-family 'Bebas'
      font-size 90px
      margin-bottom -30px

    span
      font-size 16px