@import 'nib'

.remote
  .pin
    font-size 30px
    text-align center
    width 320px
    height 250px
    position absolute
    top 50%
    left 50%
    margin-top -125px
    margin-left -160px

    // hidden
    opacity 0
    transform translateY(-200px)

    p
      font-weight 300
      margin 0

    .minor
      font-size 24px
      margin-top 30px

    h3
      margin 0
      font-family 'Bebas'
      font-size 90px
      margin-bottom -30px

    span
      font-size 16px

  nav
    position fixed
    bottom 0
    width 100%
    height 50px
    color #FCF700
    background-color black
    white-space nowrap
    z-index 10
    transition all 0.4s ease

    &.hide
      opacity 0
      transform translateY(50px)

    ul, li
      list-style none
      margin 0
      padding 0
      white-space nowrap
      text-align center

    ul 
      width 100%
      height 50px
      overflow-x auto
      overflow-y hidden

      &:before, &:after
        content ' '
        display block
        width 50px
        height 50px
        position absolute
        background linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))

      &:before
        left 0
        bottom 0

      &:after
        right 0
        bottom 0
        background linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
    li
      display inline-block
      line-height 50px
      margin-left 40px
      margin-right 40px
      cursor pointer

      &:first-child
        margin-left 100px
      &:last-child
        margin-right 100px

      &.active:before
        content ' '
        float left
        margin-right -20px
        width 0
        height 0
        overflow hidden
        border 10px solid black
        border-top-color #FCF700
        border-bottom-width 0
        position relative
        left 50%
        margin-left -10px

  div.hide
    transition opacity 0.4s ease
    opacity 0

  section
    transition all 0.4s ease
    opacity 0
    display none
    padding 10px
    padding-bottom 60px

    &.active
      opacity 1
      display block

    h2
      font-family 'Open Sans', sans-serif
      font-weight 300
      font-size 40px
      margin 0
      padding 10px 10px
      border-bottom 2px solid black
      background-color #FCF700
      width auto
      z-index 10

    @media (min-height: 600px)
      padding-top 80px
      h2
        margin 0 10px
        position fixed
        top 0
        left 0
        right 0
