@import 'nib'

.slider
  display inline-block
  width 100%
  padding 10px
  margin-right -0.3em
  border-bottom 1px solid rgba(0, 0, 0, 0.3)

  @media (min-width: 780px) 
    width 50%
    border-left 1px solid rgba(0, 0, 0, 0.3)

  @media (min-width: 1200px) 
    width 33%

  .label
    font-size 22px
    margin 0

    @media (max-width: 420px)
      float left
      margin-bottom 7px

  .track
    height 40px
    border 1px solid rgba(0, 0, 0, 0.4)
    background-color rgba(0, 0, 0, 0.1)
    margin 0
    margin-top 10px
    padding 0 18px
    overflow hidden

    @media (max-width: 420px)
      width 100%

  .thumb
    position relative
    height 38px
    width 38px
    left 100%
    margin-left -19px
    background-color rgba(0, 0, 0, 0.7)
    box-shadow 0 0 10px rgba(0, 0, 0, 0.5)
    border-left 1px solid black
    border-right 1px solid black
    transition background-color 0.4s ease, box-shadow 0.4s ease

  &:hover .thumb
    box-shadow 0 0 15px rgba(0, 0, 0, 0.8)
    background-color rgba(0, 0, 0, 0.7)

  input
    border none
    border-bottom 1px solid black
    background none
    text-align center
    float right
    margin-left 10px
    height 40px
    margin-top 10px
    font-size 20px
    width 60px
    outline none

    @media (max-width: 420px)
      margin-top -3px
      position absolute
      right 10px
      border none