<canvas width="640" height="480"></canvas>
<h3 id="remain">Remaining:</h3>
<h3 id="score">Score:</h3>
<p>Images and stuff lovingly &quot;borrowed&quot; from Mozilla's BrowserQuest.</p>
<img class="player" style="display: none;" src="/missions/sample/ff.png">
<img class="cake" style="display: none;" src="/missions/sample/cake.png">
<img class="wall" style="display: none;" src="/missions/sample/wall.png">
<img class="bg" style="display: none;" src="/missions/sample/bg.png">
<img class="goblin" style="display: none;" src="/missions/sample/goblin.png">