#mission {
  padding: 15px;
}

#mission canvas {
  display: block;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  margin: auto;
  max-width: 100%;
}