/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
@font-face {
  font-family: 'Bebas';
  src: url("BebasNeue-webfont.eot");
  src: url("BebasNeue-webfont.eot?#iefix") format('embedded-opentype'), url("BebasNeue-webfont.woff") format('woff'), url("BebasNeue-webfont.ttf") format('truetype'), url("BebasNeue-webfont.svg#BebasNeueRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fcf700;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
body.transitioning {
  overflow: hidden;
}
h1,
h2,
h3,
code,
pre {
  font-family: 'Inconsolata';
  font-weight: normal;
}
.decoded {
  font-family: 'Bebas';
  font-weight: normal;
}
.logo {
  text-align: center;
  text-decoration: none;
}
.logo h1 {
  font-size: 1em;
  font-family: 'Open Sans';
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.logo h1 span {
  font-size: 0.75em;
  font-weight: 400;
  position: relative;
  top: -0.08em;
}
.logo h3 {
  font-size: 0.46em;
  margin: 0;
  padding: 0;
  margin-bottom: -1.3em;
  margin-left: -6.9em;
  font-family: 'Bebas';
}
.loader {
  text-align: center;
  width: 320px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -160px;
}
.loader header {
  font-size: 60px;
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.loader .icon {
  display: inline-block;
  width: 30%;
  min-width: 150px;
  white-space: nowrap;
  color: #000;
  text-decoration: none;
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -o-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.loader .icon img {
  width: 80%;
}
.loader .icon h3 {
  height: 52px;
  margin: 0;
}
.loader .icon.remote img {
  position: relative;
  top: -20px;
}
@media (max-height: 430px) and (max-width: 480px),(max-height: 300px) and (min-width: 480px),(max-height: 380px) and (min-width: 640px),(max-height: 460px) and (min-width: 800px) {
  .loader {
    margin: auto !important;
    position: static;
  }
}
@media (min-width: 480px) {
  .loader {
    width: 480px;
    height: 300px;
    margin-top: -150px;
    margin-left: -240px;
  }
  .loader header {
    font-size: 85px;
  }
}
@media (min-width: 640px) {
  .loader {
    width: 640px;
    height: 380px;
    margin-top: -190px;
    margin-left: -320px;
  }
  .loader header {
    font-size: 120px;
  }
}
@media (min-width: 800px) {
  .loader {
    width: 800px;
    height: 460px;
    margin-top: -230px;
    margin-left: -400px;
  }
  .loader header {
    font-size: 150px;
  }
}
.main nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  background-color: #000;
  -webkit-box-shadow: 0 0px 8px rgba(0,0,0,0.7);
  box-shadow: 0 0px 8px rgba(0,0,0,0.7);
  z-index: 20;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -o-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
}
.main nav .logo {
  display: inline-block;
  padding-top: 4px;
  padding-left: 5px;
  color: #fcf700;
  font-size: 30px;
}
.main nav .pin-entry {
  color: #fcf700;
}
.main nav .pin-entry .remote {
  display: inline-block;
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding-top: 2px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(70px);
  -moz-transform: translateX(70px);
  -o-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}
.main nav .pin-entry.hide .remote {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.main nav .pin-entry div {
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 200px;
  padding: 10px;
  background-color: #000;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 0px 8px rgba(0,0,0,0.7);
  box-shadow: 0 0px 8px rgba(0,0,0,0.7);
}
.main nav .pin-entry.hide div {
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -o-transform: translateY(250px);
  -ms-transform: translateY(250px);
  transform: translateY(250px);
}
.main nav .pin-entry h3 {
  margin: 0;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.main nav .pin-entry input {
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Inconsolata';
  font-size: 48px;
  text-align: center;
  border-bottom: 1px solid #fcf700;
  background-color: transparent;
  color: #fcf700;
}
.main nav .pin-entry button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid rgba(252,247,0,0.3);
  background-color: transparent;
  color: #fcf700;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.main nav .pin-entry .status {
  position: absolute;
  text-align: right;
  right: 60px;
  bottom: 0px;
  line-height: 50px;
  margin: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.main nav .pin-entry.hide .status {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.remote .pin {
  font-size: 30px;
  text-align: center;
  width: 320px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -160px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
}
.remote .pin p {
  font-weight: 300;
  margin: 0;
}
.remote .pin .minor {
  font-size: 24px;
  margin-top: 30px;
}
.remote .pin h3 {
  margin: 0;
  font-family: 'Bebas';
  font-size: 90px;
  margin-bottom: -30px;
}
.remote .pin span {
  font-size: 16px;
}
.remote nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #fcf700;
  background-color: #000;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.remote nav.hide {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.remote nav ul,
.remote nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-align: center;
}
.remote nav ul {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}
.remote nav ul:before,
.remote nav ul:after {
  content: ' ';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #000), color-stop(1, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, #000 0%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(left, #000 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, #000 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(left, #000 0%, rgba(0,0,0,0) 100%);
}
.remote nav ul:before {
  left: 0;
  bottom: 0;
}
.remote nav ul:after {
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0)), color-stop(1, #000));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #000 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, #000 100%);
  background: linear-gradient(left, rgba(0,0,0,0) 0%, #000 100%);
}
.remote nav li {
  display: inline-block;
  line-height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}
.remote nav li:first-child {
  margin-left: 100px;
}
.remote nav li:last-child {
  margin-right: 100px;
}
.remote nav li.active:before {
  content: ' ';
  float: left;
  margin-right: -20px;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 10px solid #000;
  border-top-color: #fcf700;
  border-bottom-width: 0;
  position: relative;
  left: 50%;
  margin-left: -10px;
}
.sample {
  width: 300px;
  outline: 1px solid #f0f;
}
.slider {
  width: 100%;
  padding: 10px;
}
.slider .track {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.1);
  margin: 10px 0;
  padding: 0 18px;
  overflow: hidden;
}
.slider .thumb {
  position: relative;
  height: 38px;
  width: 38px;
  left: 100%;
  margin-left: -19px;
  background-color: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transition: background-color 0.4s ease, box-shadow 0.4s ease;
  -moz-transition: background-color 0.4s ease, box-shadow 0.4s ease;
  -o-transition: background-color 0.4s ease, box-shadow 0.4s ease;
  -ms-transition: background-color 0.4s ease, box-shadow 0.4s ease;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.slider:hover .thumb {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0.7);
}
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
