<div>
  <h3>Enter your pin:</h3>
  <input type="tel" name="pin-number" maxlength="4" placeholder="****">
  <button class="go">Connect</button>
  <button class="cancel">Cancel</button>
</div>
<a class="remote">
  <img src="/svg/remote-yellow.svg" width="46">
</a>
<p class="status"></p>