<div class="pin">
  <p>Here's your pin!</p>
  <h3>{{pin}}</h3>
  <span>Enter it on the device you wish to control.</span>
  <p class="minor">Waiting for connection...</p>
</div>
<nav class="hide">
  <ul>
    <li class="active">General</li>
    <li>Camera</li>
    <li>Another Item</li>
    <li>Another Item</li>
    <li>Another Item</li>
    <li>Another Item</li>
    <li>Another Item</li>
</nav>