<div class="pin">
  <p>Here's your pin!</p>
  <h3>{{pin}}</h3>
  <span>Enter it on the device you wish to control.</span>
  <p class="minor">Waiting for connection...</p>
</div>
<nav class="hide">
  <ul>
    <li class="active">General</li>
    <li>Camera</li>
    <li>Another Item</li>
    <li>Another Item</li>
    <li>Another Item</li>
    <li>Another Item</li>
    <li>Another Item</li>
  </ul>
</nav>
<div class="sample0"></div>
<div class="sample1"></div>
<div class="sample2"></div>
<div class="sample3"></div>
<div class="sample4"></div>
<div class="sample5"></div>
<div class="sample6"></div>
<div class="sample7"></div>
<div class="sample8"></div>
<div class="sample9"></div>