@import 'nib'
@import '_ui'

.button
  @extends .ui

  button
    background decoded-yellow
    border 1px solid border-colour
    width 100%
    height size
    margin 0
    margin-top pad
    font-size 16px