{{#if pin}}
<div class="pin">
  <p>Here's your pin!</p>
  <h3>{{pin}}</h3>
  <span>Enter it on the device you wish to control.</span>
  <p class="minor">Waiting for connection...</p>
</div>
{{/if}}
<nav{{#if pin}} class="hide"{{/if}}>
  <ul>
  </ul>
</nav>
<div{{#if pin}} class="hide"{{/if}} id="groups">
</div>