<canvas width="640" height="480"></canvas>
<h3 id="remain">Remaining:</h3>
<h3 id="score">Score:</h3>
<img class="ff" style="display: none;" src="/missions/sample/ff.png">
<img class="cake" style="display: none;" src="/missions/sample/cake.png">