<nav>
  <a class="logo" href="#">
    <h3 class="decoded">Decoded</h3>
    <h1><span>{</span>code<span>}</span>cards</h1>
  </a>
  <section class="pin-entry hide"></section>
</nav>
<section>
  <div id="camview" class="hide-cnvs">
    <div class="cnvs">
      <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <a class="toggler"></a>
    <div id="local-RC" class="remote local"></div>
  </div>
  <div id="mainview">
    <div id="code">
      <h3 id="code-status">Please allow your webcam...</h3>
      <div></div>
    </div>
    <div id="mission">
    </div>
  </div>
</section>