<header class="logo">
  <h3 class="decoded">Decoded</h3>
  <h1><span>{</span>code<span>}</span>cards</h1>
</header>

<a class="icon source" href="#CodeCards">
  <img src="/svg/source-code.svg">
  <h3>CodeCards</h3>
</a>

<a class="icon remote" href="#remote">
  <img src="/svg/remote.svg">
  <h3>Remote Control</h3>
</a>

<a class="icon design" href="#designer">
  <img src="/svg/design.svg">
  <h3>Scenario Designer</h3>
</a>