<nav>
  <a class="logo" href="#">
    <h3 class="decoded">Decoded</h3>
    <h1><span>{</span>code<span>}</span>cards</h1>
  </a>
  <section class="pin-entry hide"></section>
</nav>
<section>
  <div id="camview">
    <div>
      <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <a class="toggler"></a>
  </div>
  <div id="mainview">
    <div id="code">
      <h3 id="alert">Please allow your webcam...</h3>
      <pre><code class="language-js"></code></pre>
    </div>
    <div id="mission">
    </div>
  </div>
</section>